<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.som.android.livevideo">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".VideoActivity2"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <!-- Libmedia requirement -->
        <meta-data android:name="fr.maxcom.libmedia.apiKey"
            android:value="qkp6of+y/zK3jml/y1dCtU8ETjrwf4DG6xLpQ+ICPIFmNa1hv9wQukARM0sGCvaBViLOeKnhFwzBCqY8cBd2b1jA65FY6HiR8jetxeI3rcXwNqSZ/jGkxf0xto7nMaSO/g==" />


    </application>

</manifest>